

   
        .li{
            letter-spacing: 2px;
            font: 600 17px '';
            padding: 16px 52px;
          transition: .3s;
        }
        
        /* li:hover{
            background-color: #beb5df;
        } */
        
        .li ul{
            width: 0;
            height: 530px;
            padding: 60px 0;
            position: absolute;
            top: 0;
            right: 0;
            overflow: hidden;
            background-color: #59699b;
            transition: .3s;
        }

        .li ul li{
            padding: 16px 24px;
            transition: .3s;
        }

        .li:hover ul{
            width: 228px;
        }
  